@{
    ViewData["Title"] = "Home";
}
<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <div class="mt-4">
        <img src="~/images/JoelHiltonHeadshot.jpg"
             alt="Joel Hilton"
             class="img-fluid rounded shadow"
             style="max-width: 500px;" />
    </div>
    <div class="mt-4">
        <p class="lead">Welcome to Joel Hilton's curated movie collection!</p>
        <p>Browse through carefully selected films that have earned their place in this collection.</p>
    </div>
</div>
